<!DOCTYPE html>
<html>

<head>
    
</head>

<body>

    <div class="wrapper">
        <div class="container" id="myData">
            

        </div>
        <table id="userdata" border="2">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>City</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

    <script>
        $(function() {
            // have to be 'tojson'
            // jsonfile = JSON.parse('{{json_text}}');
            // console.log(jsonfile);
    
            jsonfile = JSON.parse('{{json_text | tojson}}');
            console.log(jsonfile);
            document.querySelector(".container").innerHTML = "{{json_text}}";
            var people = [];
            $.each(jsonfile.person, function(i, f) {
            var tblRow = "<tr>" + "<td>" + f.firstName + "</td>" +
                "<td>" + f.lastName + "</td>" + "<td>" + f.job + "</td>" + "<td>" + f.roll + "</td>" + "</tr>"
                $(tblRow).appendTo("#userdata tbody");
            });
        });

    </script>
</body>

</html>